<% include header %>
<div class="profile">
  <img class="profile-avatar" align="right" alt="" src="<%=  profile.avatar_url %>s=180">
  <h2><%= profile.login %></h2>
  <p>
    <label>Name:</label>
    <%= profile.name %>
  </p>
  <p>
    <label>Github:</label>
    <a href="<%= profile.html_url %>"><%= profile.html_url %></a>
  </p>
  <p>
    <label>Email:</label>
    <a href="mailto:<%= profile.email %>"><%= profile.email %></a>
  </p>
  <p>
    <label>Blog:</label>
    <a href="<%= profile.blog %>"><%= profile.blog %></a>
  </p>
  <% if (profile.authkey) { %>
  <p>
    <label>authkey:</label>
    <input type="text" id="authkey" readonly size="38" value="<%= profile.authkey %>">
  </p>
  <p>
    <label></label>
    <span class="security-tip">
      <i class="iconfont">&#xf00c9;</i>
      Copy authkey above for "spm login", and do not tell it to anybody.
    </span>
  </p>
  <% } %>
</div>

<div class="packages">
  <h2>Owned Packages (<%= ownPackages.length || 0 %>)</h2>
  <% if (ownPackages.length > 0) { %>
    <% ownPackages.forEach(function(name, i) { %>
      <a href="/package/<%= name %>"><%= name %></a><% if(i!==ownPackages.length-1){ %>,<% } %>
    <% }) %>
  <% } else { %>
    No owned packages.
  <% } %>
</div>
<script>
seajs.use(['$'], function($) {
  $('#authkey').click(function() {
    $(this).select();
  });
});
</script>
<% include footer %>
