<% include header %>
<div class="profile">
  <img class="profile-avatar" align="right" alt="" src="<%=  profile.avatar_url %>s=180">
  <h2><%= profile.login %></h2>
  <p>
    <label>Name:</label>
    <%= profile.name %>
  </p>
  <p>
    <label>Github:</label>
    <a href="<%= profile.html_url %>"><%= profile.html_url %></a>
  </p>
  <p>
    <label>Email:</label>
    <a href="mailto:<%= profile.email %>"><%= profile.email %></a>
  </p>
  <p>
    <label>Blog:</label>
    <a href="<%= profile.blog %>"><%= profile.blog %></a>
  </p>
  <% if (profile.token) { %>
  <p>
    <label>token:</label>
    <input type="text" id="token" readonly size="38" value="<%= profile.token %>">
  </p>
  <p>
    <label></label>
    <span class="security-tip">
      <i class="iconfont">&#xf00c9;</i>
      Copy token above for "spm login", and do not tell it to anybody.
    </span>
  </p>
  <% } %>
</div>

<div class="packages">
  <h2>Owned Packages (<%= ownPackages.length || 0 %>)</h2>
  <% if (ownPackages.length > 0) { %>
    <% ownPackages.forEach(function(name) { %>
      <span class="package">
        <a href="/package/<%= name %>"><%= name %></a>
        <% if (editable) { %>
        <i title="remove ownership of this package" class="iconfont" data-target="<%= name %>">&#xf000d;</i>
        <% } %>
      </span>
    <% }) %>
  <% } else { %>
    No owned packages.
  <% } %>
  <% if (editable) { %>
  <div class="add-package-form">
    <form action="/ownership" method="POST">
      <input type="text" name="package" placeholder="Input package name">
      <button class="button positive">Add Ownership</button>
      <% if (errormessage) { %>
      <span class="error-message"><%= errormessage %></span>
      <% } %>
    </form>
  </div>
  <% } %>
</div>
<script>
seajs.use(['$'], function($) {
  $('.package>i').click(function(e) {
    var target = $(this).data('target');
    $.ajax({
      method: 'DELETE',
      url: '/ownership',
      data: {
        package: target
      },
      complete: function(res) {
        if (res.status === 200) {
          location.reload();
        } else {
          location.href = res.responseJSON.errormessage;
        }
      }
    })
  });

  $('#token').click(function() {
    $(this).select();
  });
});
</script>
<% include footer %>
