<% include header %>
<div class="markdown">
  <h1><a href="/package/<%= package.name %>/"><%= package.name %></a></h1>
  <hr>
  <p><%= package.description || "No description" %></p>
  <pre>spm install <%= package.name %>@<%= package.version %></pre>
  <p>Version: <strong><%= package.version %></strong> <span>~ <%= package.tag %></span></p>
  <table class="meta">
    <tr>
      <th width="20%">Updated</th>
      <td width="80%" title="<%= package.updated_at %>"><%= package.fromNow %></td>
    </tr>
    <% if (package.publisher) { %>
    <tr>
      <th>Publisher</th>
      <td>
        <% if (anonymous) { %>
          <%= package.publisher %>
        <% } else { %>
          <a href="/account/<%= package.publisher %>"><%= package.publisher %></a>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% if (package.homepage) { %>
    <tr>
      <th>Homepage</th>
      <td><a target="_blank" href="<%= package.homepage %>"><%= package.homepage %></a></td>
    </tr>
    <% } %>
    <% if (package.repository && package.repository.url) { %>
    <tr>
      <th>Repository</th>
      <td><a target="_blank" href="<%= package.repository.url %>"><%= package.repository.url %></a></td>
    </tr>
    <% } %>
    <% if (package.dependencies && package.dependencies.length > 0) { %>
    <tr>
      <th>Dependencies</th>
      <td>
        <% package.dependencies.forEach(function(d, i) { %>
          <% d = d.split('@'); %>
          <a href="/package/<%= d[0] %>"><%= d[0] %></a>@<%= d[1] %><% if(i!==package.dependencies.length-1){ %>,<% } %>
        <% }) %>
      </td>
    </tr>
    <% } %>
    <% if (package.dependents && package.dependents.length > 0) { %>
    <tr>
      <th>Dependents</th>
      <td>
        <% package.dependents.forEach(function(d, i) { %>
          <a href="/package/<%= d %>"><%= d %></a><% if(i!==package.dependents.length-1){ %>,<% } %>
        <% }) %>
      </td>
    </tr>
    <% } %>
    <% if (package.spm.main) { %>
    <tr>
      <th>Main</th>
      <td><%= package.spm.main %></td>
    </tr>
    <% } %>
  </table>
</div>
<div class="markdown readme">
<%- package.readme %>
</div>
<% include footer %>
