<% include header %>
<div class="markdown">
  <h1 class="package-name">
    <a href="/package/<%= package.name %>/"><%= package.name %></a>
    <span class="package-version">@<%= package.version %></span>
  </h1>
  <hr>
  <p><%= package.description || "No description" %></p>
  <pre>spm install <%= package.name %>@<%= package.version %></pre>
  <p>Version: <strong><%= package.version %></strong> <span>~ <%= package.tag %></span></p>
  <table class="meta">
    <tr>
      <th width="20%">Updated</th>
      <td width="80%" title="<%= package.updated_at %>"><%= package.fromNow %></td>
    </tr>
    <% if (package.homepage) { %>
    <tr>
      <th>Homepage</th>
      <td><a target="_blank" href="<%= package.homepage %>"><%= package.homepage %></a></td>
    </tr>
    <% } %>
    <% if (package.repositoryurl) { %>
    <tr>
      <th>Repository</th>
      <td><a target="_blank" href="<%= package.repositoryurl %>"><%= package.repository.url %></a></td>
    </tr>
    <% } %>
    <% if (package.dependencies && package.dependencies.length > 0) { %>
    <tr>
      <th>Dependencies</th>
      <td>
        <% package.dependencies.forEach(function(d, i) { %>
          <a href="/package/<%= d.replace('@', '/') %>"><%= d %></a><% if(i!==package.dependencies.length-1){ %>,<% } %>
        <% }) %>
      </td>
    </tr>
    <% } %>
    <% if (package.spm.main) { %>
    <tr>
      <th>Main</th>
      <td><%= package.spm.main %></td>
    </tr>
    <% } %>
    <% if (package.filename) { %>
    <tr>
      <th>Tarfile</th>
      <td>
        <a href="/repository/<%= package.name %>/<%= package.version %>/<%= package.filename %>"><%= package.filename %></a>
      </td>
    </tr>
    <% } %>
    <% if (package.publisher) { %>
    <tr>
      <th>Publisher</th>
      <td>
        <% if (anonymous) { %>
          <%= package.publisher %>
        <% } else { %>
          <a href="/account/<%= package.publisher %>"><%= package.publisher %></a>
        <% } %>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<div class="markdown readme">
<%- package.readme %>
</div>
<% include footer %>
