<% include header %>
<div class="markdown">
  <h1 class="package-name">
    <a href="/package/<%= project.name %>/"><%= project.name %></a>
    <img class="badge" src="/badge/<%= project.name %>">
  </h1>
  <aside class="aside-right">
    <% if (doclink) { %>
    <a target="_blank" href="<%= doclink %>" title="Documentation hosted in spmjs">
      <i class="iconfont iconfont-doclink">&#xf012b;</i>
    </a>
    <% } %>
    <% if (project.repository && project.repository.url) { %>
    <a target="_blank" href="<%= project.repository.url %>" class="github-stars" title="github star count">
      <i class="iconfont iconfont-star">&#xf0290;</i>
      <span class="github-star-count"></span>
    </a>
    <% } %>
  </aside>
  <hr>
  <p><%= project.description || "No description" %></p>
  <pre>spm install <%= project.name %></pre>
  <p>
    Latest version: <strong><%= project.latest.version %></strong>
    <span>~ <%= project.latest.tag %></span>
  </p>
  <table class="meta">
    <tr>
      <th width="20%">Versions</th>
      <td width="80%">
      <% project.versions.forEach(function(v, i) { %>
        <a href="/package/<%= project.name %>/<%= v %>"><%= v %></a><% if(i!==project.versions.length-1){ %>,<% } %>
      <% }) %>
      </td>
    </tr>
    <tr>
      <th>Updated</th>
      <td title="<%= project.updated_at %>"><%= project.fromNow %></td>
    </tr>
    <% if (project.keywords && project.keywords.length > 0) { %>
    <tr>
      <th>Keywords</th>
      <td>
      <% project.keywords.forEach(function(word, i) { %>
        <a href="/search?q=<%= word %>"><%= word %></a><% if(i!==project.keywords.length-1){ %>,<% } %>
      <% }) %>
      </td>
    </tr>
    <% } %>
    <% if (project.homepage) { %>
    <tr>
      <th>Homepage</th>
      <td><a target="_blank" href="<%= project.homepage %>"><%= project.homepage %></a></td>
    </tr>
    <% } %>
    <% if (project.repository && project.repository.url) { %>
    <tr>
      <th>Repository</th>
      <td>
        <a target="_blank" href="<%= project.repository.url %>"><%= project.repository.url %></a>
      </td>
    </tr>
    <% } %>
    <% if (project.latest.dependencies && project.latest.dependencies.length > 0) { %>
    <tr>
      <th>Dependencies</th>
      <td><%= project.latest.dependencies.join(', ') %></td>
    </tr>
    <% } %>
    <% if (project.latest.dependents && project.latest.dependents.length > 0) { %>
    <tr>
      <th>Dependents</th>
      <td>
        <% project.latest.dependents.forEach(function(d, i) { %>
          <a href="/package/<%= d %>"><%= d %></a><% if(i!==project.latest.dependents.length-1){ %>,<% } %>
        <% }) %>
      </td>
    </tr>
    <% } %>
    <% if (project.latest.spm.main) { %>
    <tr>
      <th>Main</th>
      <td><%= project.latest.spm.main %></td>
    </tr>
    <% } %>
    <% if (project.owners) { %>
    <tr>
      <th>Owner</th>
      <td>
      <% project.owners.forEach(function(owner, i) { %>
        <% if (anonymous) { %>
          <%= owner %><% if(i!==project.owners.length-1){ %>,<% } %>
        <% } else { %>
          <span class="package">
            <a href="/account/<%= owner %>"><%= owner %></a>
            <% if (editable) { %>
              <i title="click to remove ownership" data-target="<%= owner %>" class="iconfont">&#xf000d;</i>
            <% } %>
          </span>
        <% } %>
      <% }) %>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<% if (editable) { %>
<div class="add-ownership-form">
  <form action="/ownership" method="POST">
    <input type="text" name="account" placeholder="Input account name">
    <input type="hidden" name="package" value="<%= project.name %>">
    <button class="button button-blue">Add Ownership</button>
    <% if (errormessage) { %>
    <span class="error-message"><%= errormessage %></span>
    <% } %>
  </form>
</div>
<% } %>
<div class="markdown readme">
<%- project.latest.readme %>
</div>

<script>
seajs.use('$', function($) {
  $('.package > i').click(function(e) {
    var target = $(this).data('target');
    $.ajax({
      method: 'DELETE',
      url: '/ownership',
      data: {
        package: '<%= project.name %>',
        account: target
      },
      complete: function(res) {
        if (res.status === 200) {
          location.reload();
        } else {
          location.href = res.responseJSON.errormessage;
        }
      }
    })
  });
  $('.github-stars').each(function(i, item) {
    item = $(item);
    var url = item.attr('href');
    var match = url.match('github\.com[/:](.*)(\.git)$');
    if (match) {
      var repo = match[1];
      $.ajax({
        url: 'https://api.github.com/repos/' + repo,
        data: {
          client_id: 'b780a6efae6389352673',
          client_secret: '35d009a30759ab3b9da4794128d336007030a466'
        },
        dataType: 'jsonp',
        success: function(data) {
          var count = data.data.stargazers_count;
          if (count) {
            item.find('.github-star-count').html(count);
            item.show();
          }
        }
      });
    }
  });
});

</script>
<% include footer %>
