<% include header %>
<div class="markdown">
  <h1><a href="/package/<%= project.name %>/"><%= project.name %></a></h1>
  <hr>
  <p><%= project.description %></p>
  <pre>spm install <%= project.name %></pre>
  <p>
    Latest version: <strong><%= project.latest.version %></strong>
    <span>~ <%= project.latest.tag %></span>
  </p>
  <table class="meta">
    <tr>
      <th>Versions</th>
      <td>
      <% project.versions.forEach(function(version) { %>
        <a href="<%= version %>"><%= version %></a>
      <% }) %>
      </td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= project.updated_at %></td>
    </tr>
    <% if (project.homepage) { %>
    <tr>
      <th>Homepage</th>
      <td><a href="<%= project.homepage %>"><%= project.homepage %></a></td>
    </tr>
    <% } %>
    <% if (project.repository) { %>
    <tr>
      <th>Repository</th>
      <td><%= project.repository.url %></td>
    </tr>
    <% } %>
    <% if (project.latest.dependencies) { %>
    <tr>
      <th>Dependencies</th>
      <td><%= project.latest.dependencies.join(', ') %></td>
    </tr>
    <% } %>
    <% if (project.latest.dependents) { %>
    <tr>
      <th>Dependents</th>
      <td><%= project.latest.dependents.join(', ') %></td>
    </tr>
    <% } %>
    <% if (project.latest.spm.main) { %>
    <tr>
      <th>Main</th>
      <td><%= project.latest.spm.main %></td>
    </tr>
    <% } %>
  </table>
</div>
<div class="markdown">
<%- project.latest.readme %>
</div>
<% include footer %>
