<% include header %>
<% if (result.length > 0) { %>
<p class="search-count"><%= result.length %> packages about <strong>"<%= query %>"</strong>.</p>
<% result.forEach(function(item) { %>
<div class="cell">
  <h3><a href="/package/<%= item.name %>"><%= item.name %></a></h3>
  <p><%= item.description %></p>
</div>
<% }) %>
<% } else { %>
  <p>Can't found any package about <strong>"<%= query %>"</strong>, change your search query!</p>
<% } %>
<% include footer %>

