<% include header %>
<% if (result.length > 0) { %>
<p class="search-count"><%= result.length %> packages about <strong>"<%= query %>"</strong>.</p>
<% result.forEach(function(item) { %>
<div class="cell">
  <h3><a href="/package/<%= item.name %>"><%= item.name %></a> <i><%= item.version %></i></h3>
  <p><%= item.description %></p>
</div>
<% }) %>
<% } else { %>
  <p>Can't found any package about <strong>"<%= query %>"</strong>.</p>
  <p>Maybe you should change search keyword,
  or just browser <a href="/packages">all packages</a>.</p>
<% } %>
<% include footer %>

